body {
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.login-page {
    background-image: url('/static/login.jpeg');
}

.signup-page {
    background-image: url('/static/signup.jpeg');
}

.dashboard-page {
    background-image: url('/static/dashboard.jpeg');
}